.Playlists {
  grid-area: main-view;
  color: white;
  overflow-y: scroll;

  .Title {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-transform: none;
    padding-left: 2rem;
  }

  .Container {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    overflow-y: scroll;
    padding: 0 2rem;
  }
}
