.SideBar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  background-color: var(--bg-black);
  padding: 1rem 1rem 1rem 2rem;
  overflow-y: scroll;
  overflow-x: hidden;

  .Logo svg {
    max-width: 130px;
  }

  .Title {
    margin: 1.5rem 0 1rem;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--white);
  }

  .Separator {
    margin: 1rem 0;
    border: 1px solid var(--separator);
  }

  .List {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.ListItem {
  .ItemTitle {
    font-size: 14px;
    color: var(--text-secondary);
    font-weight: 400;
    line-height: 20px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;

    &:hover {
      color: var(--white);
    }
  }
}
