.App {
  display: flex;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "side-bar main-view"
    "playing-bar playing-bar";
}

.Error {
  color: white;
  text-align: center;
  margin-top: 100px;
}
