body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(18, 18, 18);
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-primary: #535353;
  --bg-secondary: #181818;
  --bg-black: #000;
  --text-primary: #b3b3b3;
  --text-secondary: #b3b3b3;
  --text-dark: #121212;
  --green: #1db954;
  --white: #fff;
  --separator: #282828;
}

:global(.playing) {
  color: var(--green);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(90, 90, 90);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
